[submodule "youtube-bookmarks-summariser"]
	path = youtube-bookmarks-summariser
	url = https://github.com/srimugunthan/youtube-bookmarks-summariser.git
[submodule "FinetuneLLMProject"]
	path = FinetuneLLMProject
	url = https://github.com/srimugunthan/FinetuneLLMProject.git
